.home {
   position: relative;
   top: 100px;
   max-width: 600px;
   margin-inline: auto;
}

/* Introduction Section */
.home__introduction {
   align-items: center;
   display: flex;
   flex-direction: column;
   text-align: center;
}

.home__introduction__hero-text-container__image {
   height: 56px;
   left: 630px;
   top: 40px;
   position: absolute;
}

.home__introduction__hero-text-container {
   font-size: clamp(2em, 4em, 4vw + 1em);
   margin-bottom: 30px;
}

.home__introduction__hero-text-container > h1 {
   color: #fff;
   font-weight: 500;
   line-height: 1.4em;
   font-size: clamp(1.2em, 2em, 1vw + 0.4em);
}

.home__introduction__get-started {
   align-items: center;
   display: flex;
   cursor: pointer;
}

.home__introduction__get-started > p {
   color: #F25C44;
   line-height: 1.4em;
   font-size: clamp(0.9em, 2em, 1vw + 0.4em);
   text-align: center;
}

.home__introduction__get-started > img {
   height: 35px;
   margin-left: 16px;
}

/* Mission Statement Section */
.home__mission-statement {
   color: rgba(255, 255, 255, 0.75);
   font-size: 14px;
   margin: 0 30px;
   margin-top: 36px;
   margin-bottom: 0px;
   line-height: 20px;
   text-align: center;
}

/* Credit Card Section */
.home__card-section {
   display: flex;
   justify-content: center;
   margin-top: 44px;
}

.home__card-section__credit-cards {
   height: 613px;
   align-self: center;
}

/* User Count */
.home__users {
   align-items: center;
   display: flex;
   flex-direction: column;
   margin-top: 46px;
}

.home__users__avatars {
   display: flex;
   position: relative;
   left: 14px;
}

.home__users__text {
   align-items: center;
   color: rgba(255, 255, 255, 0.75);
   display: flex;
   font-size: 13px;
   margin-top: 10px;
}

.orange-dot {
   background-color: #F25C44;
   border-radius: 3px;
   height: 6px;
   margin-right: 6px;
   width: 6px;
}

/* Statistics Section */
.home__statistics {
   background-color: #272727;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   margin-top: 46px;
}

.home__statistics__item {
   align-items: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 50px 20px;
   text-align: center;
}

.home__statistics__item:nth-child(1), 
.home__statistics__item:nth-child(4) {
   background-color: #252525;
}

.home__statistics__item > h1 {
   color: #fff;
   display: flex;
   font-weight: 600;
}

.home__statistics__item > p {
   color: rgba(255, 255, 255, 0.70);
   font-size: 12px;
   margin-top: 4px;
}