.navigation {
   align-items: center;
   display: flex;
   margin: 0 40px;
   position: relative;
   top: 20px;
}

.navigation__logo {
   cursor: pointer;
   height: 32px;
   position: relative;
   top: -2px;
}

.navigation__links {
   display: flex;
   list-style: none;
   padding: 0;
}

.navigation__links > li {
   padding: 0 20px;
}

.navigation__links > li > a {
   color: #fff;
   cursor: pointer;
   font-size: 14px;
   text-decoration: none;
   font-weight: 300;
}

.navigation__spacer {
   display: flex;
   flex: 1;
}